img {
  width: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

#info-window-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 18.75em;
  text-align: left;
}

#powered-by-foursquare {
  margin: 1em;
  width: 60%;
}

@media screen and (min-width: 600px) {
  #map {
    width: calc(100% - 240px);
    left: 240px;
  }
}